* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  body {
    color: white;
    background-image: url("https://img.freepik.com/free-photo/christmas-gift-boxes-with-small-baubles_23-2147971532.jpg?w=900&t=st=1668715420~exp=1668716020~hmac=03aa398874207426410576c1180eabcad48ac9c30ded8965db89eb64931a96b1");
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    
  }

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Clicker Script', cursive;
   
    align-items: center;
}

.coming-soon {
    min-height: 100vh;  
    align-items: center;
    justify-content: center; 
    display: flex;
    flex-direction: column;
}

#day,
#hour,
#min,
#sec {
    font-size: 7rem;
    font-weight: bold;
    
    /* padding: 2rem; what cause timer and heading to move every second time changed; jitter */
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    /* margin-left: 10%;*/
    margin-top: 10%;
    font-family: 'Clicker Script', cursive; 
  }

  h3 {
    font-size: 3rem;
    font-weight: bold;
    /* margin-top: 6rem; */
  }
  
  button {
    margin-top: 20px;
    width: 100px;
    margin-right: 50px;
    font-family: 'Clicker Script', cursive;
    color: transparent;
    background-color: transparent;
    border-color: transparent;  
  }
  button:hover {
    color: white;
    background-color: transparent;
    border-color: gold;  
  }

  .navbar {
    width: 100%;
    height: 60px;
    background-color: transparent;
  }
  .navbar:hover {
    background-color: firebrick;

  }